@import "tailwindcss";

:root {
  --main-color: #a000c8;
  --bg-color: #001;
  --second-bg-color: #112;
  --text-color: #fff;
}

html, body {
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(to right, #1e3a8a, #0284c7, #60a5fa);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0284c7, #60a5fa);
  border-radius: 8px;
  border: 2px solid #1e3a8a;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #60a5fa, #0284c7);
  box-shadow: 0 0 10px #60a5fa;
}


